:root {
    --main-color: rgb(224, 19, 19);
    --change-color: rgb(128, 32, 32);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ccc;
    padding: 25px;
}

.container {
    position: relative;
    max-width: 850px;
    width: 100%;
    background: #fff;
    padding: 40px 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    perspective: 2700px;
}

.container .cover {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
    z-index: 98;
    transition: all 1s ease;
    transform-origin: left;
    transform-style: preserve-3d;
}

.container #flip:checked~.cover {
    transform: rotateY(-180deg);
}

.container .cover .front,
.container .cover .back {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #fff;
}

.cover .back {
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.container .cover::before,
.container .cover::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    z-index: 12;
}

.container .cover::after {
    opacity: 0.3;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.container .cover img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 10;
}

.container .cover .text {
    position: absolute;
    z-index: 130;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container .forms {
    height: 100%;
    width: 100%;
    background: #fff;
}

.container .form-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-content .login-form,
.form-content .signup-form {
    width: calc(100% / 2 - 25px);
}

.forms .form-content .title {
    position: relative;
    font-size: 24px;
    font-weight: 500;
    color: #333;
}

.forms .form-content .title:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 3px;
    width: 50px;
    background: var(--main-color);
}

.forms .form-content .input-boxes {
    margin-top: 15px;
}

.forms .form-content .input-box {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    margin-bottom: 5px;
    position: relative;
}

.form-content .input-box input,
.form-content .input-box button {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.form-content .input-box input:focus,
.form-content .input-box input:valid {
    border-color: var(--main-color);
}

.form-content .input-box i {
    position: absolute;
    color: var(--main-color);
    font-size: 17px;
}

.forms .form-content .text {
    font-size: 14px;
    margin-top: 15px;
    text-align: right;
    font-weight: 500;
    color: #333;
}

.forms .form-content .text a {
    color: #333;
    text-decoration: none;
    cursor: pointer;
}

.forms .form-content .text a:hover {
    color: var(--main-color);
    text-decoration: underline;
}

.forms .form-content .button {
    color: #fff;
    margin-top: 25px;
}

.forms .form-content .button button {
    color: #fff;
    background: var(--main-color);
    border-radius: 6px;
    font-size: 20px;
    padding: 0;
    border: none;
    cursor: pointer;
    transition: all 0.4s ease;
}

.forms .form-content .button button:hover {
    background: var(--change-color);
}

.forms .form-content label {
    color: var(--main-color);
    cursor: pointer;
}

.forms .form-content label:hover {
    text-decoration: underline;
}

.forms .form-content .login-text,
.forms .form-content .sign-up-text {
    text-align: center;
    margin-top: 15px;
}

.container #flip {
    display: none;
}

.social-text {
    padding: 0 0 0.7rem;
    text-align: center;
    position: relative;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
}

.social-text::after {
    content: '';
    width: 100%;
    height: 1px;
    background: #333;
    position: absolute;
    z-index: 0;
    left: 0px;
    top: 50%;
}

.social-text>span {
    padding: 0 20px;
    background: #fff;
    z-index: 1;
}

.social-media {
    display: flex;
    justify-content: center;
}

.social-icon {
    height: 36px;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.45rem;
    color: #333;
    border-radius: 50%;
    border: 1px solid #333;
    text-decoration: none;
    transition: 0.3s;
}

.social-icon:hover {
    color: var(--main-color);
    border-color: var(--main-color);
}

.alert-danger {
    color: #842029;
    background-color: #f8d7da;
    padding: 10px;
    margin-top: 15px;
    width: 100%;
    line-height: 20px;
    text-align: center;
    border: 1px solid #f5c2c7;
    border-radius: 5px;
}

@media (max-width: 730px) {
    .container .cover {
        display: none;
    }
    .form-content .login-form,
    .form-content .signup-form {
        width: 100%;
    }
    .form-content .signup-form {
        display: none;
    }
    .container #flip:checked~.forms .signup-form {
        display: block;
    }
    .container #flip:checked~.forms .login-form {
        display: none;
    }
}