/* #region add images list*/

.form-list-wrapper {
    width: 100%;
}

.add-img-button {
    margin-bottom: 8px;
}

.display_img-list {
    max-width: 100%;
    max-height: 200px;
    overflow: auto;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    border: 1px solid #ced4da;
}

.display_img-avatar,
.display_img-item {
    border: 1px solid #ced4da;
    position: relative;
}

.display_img-avatar {
    margin: 0;
    width: 210px;
    height: 210px;
}

.display_img-item {
    margin: 5px;
    width: 150px;
    height: 150px;
}

.display_img-change,
.display_img-remove {
    display: none;
    position: absolute;
    right: 0;
    height: 25px;
    background-color: black;
    color: #fff;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0.8;
    margin: 0;
}

.display_img-avatar:hover .display_img-change,
.display_img-item:hover .display_img-change,
.display_img-item:hover .display_img-remove {
    display: flex;
}

.display_img-change {
    bottom: 0;
    left: 0;
    font-weight: 300 !important;
}

.display_img-remove {
    top: 0;
    width: 25px;
}

.upload-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* #endregion add images list*/


/* #region Display item*/


/*
.display_item {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: auto;
    z-index: 10;
}

.display_item-content {
    margin: 16px auto 0;
    width: 1000px;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    animation-name: moveDown;
    animation-duration: 0.5s;
}

@keyframes moveDown {
    from {
        top: -100%;
    }
    to {
        top: 0;
    }
}

.card_header-title {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 12px;
    font-size: 20px;
    text-align: center;
    background-color: #ccc;
    font-weight: bold;
    position: relative;
}

.icon_close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
    font-size: 24px;
    transition: color 0.3s linear;
    cursor: pointer;
}

.icon_close:hover {
    color: #dc3545;
}

.status-show {
    text-align: center;
    color: #28a745;
}

.status-hide {
    text-align: center;
    color: #ffc107;
}
*/


/* #endregion Display item*/